.intro-lable {
    font-size: 3.6rem;
    color: #686868;
    margin-bottom: 10px;
}

.intro-slogan,
.intro-parag {
    font-size: 1.4rem;
    color: #777;
    margin-bottom: 10px;
    font-weight: 400;
}

.intro-slogan {
    color: #686868;
    font-weight: 700;
}

.intro-img {
    width: 100%;
}
