.contact-lable {
    font-size: 3.6rem;
    color: #686868;
    margin-bottom: 10px;
}
.contact-title,
.contact-subtitle {
    font-size: 3rem;
    color: #ffa500;
    margin: 20px 0 10px;
}
.contact-shopname {
    color: #add8e6;
    text-transform: uppercase;
}
.contact-desc {
    font-size: 1.6rem;
    color: #686868;
}
.contact-subtitle {
    font-size: 2.4rem;
}
.contact-social {
    font-size: 1.6rem;
    color: #686868;
    margin-bottom: 10px;
}
