.wrapper {
    margin: 30px 0;
}

.news-img {
    width: 100%;
}

.news-title,
.news-desc {
    font-size: 1.8rem;
    color: #686868;
    font-weight: 500;
}

.news-desc {
    margin: 15px 0;
    font-size: 1.6rem;
    font-weight: 400;
}
