.category-lable {
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--primary-color);
    height: 40px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    padding-left: 20px;
    position: relative;
    margin-bottom: 30px;

    &::after {
        content: '';
        width: 100%;
        height: 6px;
        position: absolute;
        bottom: -6px;
        left: 0;
        background-image: url('https://bizweb.dktcdn.net/100/117/632/themes/157694/assets/border-gr.png');
        background-repeat: repeat-x;
    }
}
.category-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-item {
    font-size: 1.4rem;
    color: #686868;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    justify-content: flex-start;
    align-items: center;

    &:hover {
        color: var(--primary-color);
    }
}

.category-item-icon {
    color: var(--primary-color);
    padding: 0 12px;
}

.category-img {
    width: 100%;
}

@media (max-width: 991px) {
    .category {
        display: none;
    }
}
